{% extends 'blog/base.html' %}


{% block content %}
  <div class="card mt-3 border-0">
    <div class="card-body text-center">

      <h2>Login</h2>
      {% if form.errors %}
          <p>Your username and password didn't match.Please try again!</p>
      {% endif %}

      <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          {{form.as_p}}

          <p class="text-end">
            <input type="submit" class='btn btn-primary' value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </p>
      </form>
    </div>
  </div>
{% endblock %}
